/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2014, 6:55:19 PM
    Author     : skdonep
*/

*{
    margin:0px;
    padding:0px;
}

html{
    background-image:url("#{resource['images:loginBackground.jpg']}");
    background-size: 100%;
    color:black;
}

#logoFrame{
    float:left;
    margin-top:20px;
    margin-left:2%;
    background-image:url("#{resource['images:linkedULogo.png']}");
    background-color:#fff;
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
    border:1px solid #333;
    width:200px;
    height:60px;
}
#loginFrame{
    //float:right;
    margin-left:55%;
    width:45%;
    height:55px;
    //border:1px solid #333;
    padding-top:40px;  
    //font-weight: bold;
    font-size: 17px;
    color:white;
}



#signupFrame{
    margin-top:100px;
    margin-left:60%;
    padding:20px;
    padding-bottom: 40px;
    padding-top: 10px;
    background-color:#2c44f1;
    border-radius: 10px;
    //float:right;
    width:30%;
    height:350px;
    //border:1px solid #333;
    opacity:0.65;
    //font-weight: bold;
    font-size: 17px;
    font-weight: bold;
    color:white;
}

#createProfileStudentForm{
    margin-top: 100px;   
    margin-right: 600px;
    background-color: gray;
    float:right;
    border-radius: 10px;
    width: 25%;
    height: 275px;
    padding:20px;
    
}

#createProfileRecruiterForm{
    margin-top: 100px;   
    margin-right: 600px;
    background-color: gray;
    float:right;
    border-radius: 10px;
    width: 25%;
    height: 315px;
    padding:20px;
}

.inputTextBox{
    border-radius: 10px;
    height: 30px;
    padding:4px;
    border:none;
}

.inputTextBox:focus{
    outline: none;
    box-shadow: 0px 0px 10px #fff;
    border-color: #fff;
}

.inputTextBox:hover{
    outline: none;
    box-shadow: 0px 0px 10px #da1c5b;
    border-color: #da1c5b;
}

.button{
    height:30px;
    width: 70px;
    border-radius: 10px;
    
}

.UserWarning{
    display:block;  
    color: red;
    font-family: sans-serif;
    font-size: 75%;
}

